<div class="container">
<h1>New Post</h1>
<% if @current_user %>
<%= form_with :model => @post do |form| %>
  <p>
    <%= form.label "Title" %>
    <%= form.text_field "title" %>
  </p>
  <p>
    <%= form.label "Description" %>
    <%= form.text_field "description" %>
  </p>
    <p>
    <%= form.label "Upload Image" %>
    <%= form.file_field "uploaded_image", :accept => "image/jpeg,image/jpg,image/png,image/gif" %>
  </p>
   <p>
    <%= form.label "Posted_on" %>
    <%= form.date_field "posted_on" %>
  </p>
  <p class = "btn btn-outline-success">
    <%= form.submit %>
  </p>
  <%= form.hidden_field "place_id" %>
  <%= form.hidden_field "user_id" %>
<% end %>
<% else %>
  You must first <a href="/login">login</a> to post.
<% end %>
</div>